tenor-1272a-firebase-adminsdk-fbsvc-1762c0c13c.json

# Firebase Emulator Files
firebase-debug.log
firebase-debug.*
firebase-error.log
.firebase/
.firebaserc

emulators_export/

# Firebase Emulator Cache
.emulator_cache/
emulator-cache/
firestore-debug.log
storage-debug.log
dataconnect-debug.log
firebase-export*
database-debug.log
firestore-debug.log
ui-debug.log

.DS_Store
node_modules
