.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background: #f5f7f7;
}

:global(html[data-theme="dark"]) .features {
  background: #000000;
}

.featuresHeading {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
  color: #012112; /* Dark color for light mode */
}

:global(html[data-theme="dark"]) .featuresHeading {
  color: var(--ifm-color-primary);
}

.featureCard {
  height: 100%;
  padding: 2rem;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ifm-color-emphasis-300);
  margin-bottom: 2rem;
}

:global(html[data-theme="dark"]) .featureCard {
  background: #001c10;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(8, 106, 114, 0.1);
  border-color: var(--ifm-color-primary);
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.featureContent {
  flex: 1;
}

.featureTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #086a72; /* Primary color for light mode */
  font-weight: 600;
  text-align: center;
}

:global(html[data-theme="dark"]) .featureTitle {
  color: var(--ifm-color-primary);
}

.featureContent p {
  color: #1f2329; /* Dark text for light mode */
  line-height: 1.6;
  text-align: center;
}

:global(html[data-theme="dark"]) .featureContent p {
  color: #e3e3e3; /* Light text for dark mode */
}

.cta {
  text-align: center;
  margin-top: 3rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
